@import '../mixins';
@import '../variables';

.accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
    $self: &;
    $height: 200px;

    &__item {
        margin-bottom: 15px;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    }

    &__icon {
        @include transition(transform);
        margin-left: auto;
        #{ $self }__item--active & {
            transform: rotate(180deg);
        }
    }

    &__label, &__content {
        padding: 20px 25px;
    }

    &__label {
        @include transition(background-color);
        @include flex(flex-start, center);
        font-weight: 500;
        cursor: pointer;
        margin: 0;

        &:hover {
            background-color: rgba(0,0,0,0.02);
        }
    }

    &__content {
        min-height: $height;
        box-sizing: border-box;
        
        &-wrapper {
            @include transition(max-height, SLOW);
            @include scroll;
            border-top: 1px solid rgba(0,0,0,0.05);
            max-height: 0px;

            #{ $self }__item--active & {
                max-height: $height;
            }
        }
    }
}