@import '../mixins';
@import '../variables';

.card {
    @include transition(box-shadow);
    box-sizing: border-box;
    padding: 30px;

    &:hover {
        box-shadow: 0 0 6px rgba(0,0,0,0.3);
    }
}