@import '../variables';
@import '../mixins';

.container {
    box-sizing: border-box;

    & &__content {
        max-width: 1500px;
        box-sizing: border-box;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
    }

    nav#{ & } &__content {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@include media(PHONE) {
    .container {
        & &__content {
            padding-left: 30px;
            padding-right: 30px;
        }

        nav#{ & } &__content {
            padding-left: 18px;
            padding-right: 18px;
        }
    }
}