@import '../variables';
@import '../mixins';

$SPEED_: SLOW;

.nav {
    @include position(fixed, 0 0 auto, 0, auto, auto, auto);
    @include transition(background-color box-shadow padding-top color, $SPEED_);
    z-index: 20;
    padding-top: 20px;
    color: $BLACK;
    // color: white;
    width: 100%;
    $self: &;

    &--light {
        color: white;
    }

    &--scrolled {
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        background-color: $BLACK;
        padding-top: 0;
        color: white;
    }

    &__logo {
        @include flex(center);
        margin-left: 14px;
    }

    &__icon {
        @include transition(fill, $SPEED_);
        z-index: 1;
        fill: $BLACK;
        // fill: white;
        width: 30px;
        height: 30px;

        #{ $self }--light &, #{ $self }--scrolled & {
            fill: white;
        }
    }

    &__container {
        @include flex(row, flex-start, center);
    }

    &__bars {
        display: none;
        height: 30px;
        width: 30px;
        padding: 0;
        cursor: pointer;
        z-index: 1;
        margin: 24px 14px 24px auto;
        background: none;
        border: none;
    }

    &__bar {
        @include transition(background-color, $SPEED_);
        background-color: $BLACK;
        margin: 2.5px 0;
        width: 100%;
        height: 3px;

        #{ $self }--light &, #{ $self }--scrolled & {
            background-color: white;
        }
    }

    &__items {
        @include flex(row, flex-start, center);
        list-style-type: none;
        margin:  0 0 0 auto;
        padding: 0;

        &:hover #{ $self }__item { opacity: 0.5; }
    }

    & &__item {   
        @include transition(opacity, $SPEED_);
        position: relative;

        &:hover {
            opacity: 1;
            & #{ $self }__menu {
                transform: translate3d(0, 0, 0);
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    &__link, &__menu-link {
        text-decoration: none;
        cursor: pointer;
        display: block;
        color: inherit;
    }

    &__link {
        padding: 24px 14px;
    }

    &__menu {
        @include position(absolute, 0, auto, 0, auto, auto);
        @include transition(transform opacity, $SPEED_);
        @include flex(column);
        transform: translate3d(-20%, 0, 0);
        list-style-type: none;
        background-color: white;
        color: $BLACK;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        z-index: 1;
    }

    &__menu-link {
        @include transition(background-color);
        padding: 18px 20px;

        &:hover {
            background-color: rgba(0,0,0,0.05);
        }
    }
}
.homepage {
    color: white;
    fill: white;
}

@include media(TABLET) {
    .nav {
        $self: &;

        &__bars {
            @include flex(column, center, stretch);
        }

        &__items {
            @include transition(opacity, $SPEED_);
            @include position(fixed);
            flex-direction: column;
            align-items: flex-end;
            background-color: $BLACK;
            padding: 110px 48px 20px;
            text-align: right;
            pointer-events: none;
            opacity: 0;

            #{ $self }--show & {
                opacity: 1;
                pointer-events: all;
            }
        }

        &__menu {
            top: 6px;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 0;
            margin-right: 100%;
        }

        &__item {
            padding-left: 20px;
        }
    }
}

@include media(PHONE) {
    .nav {
        &__items {
            padding: 110px 18px 20px;
        }
    }
}