@import '../../../variables';
@import '../../../mixins';

.landing {

    background-image: linear-gradient(to right, #181d25, #0c0f15);
    overflow: hidden;
    position: relative;

    &__container {
        @include flex(column, center);
        min-height: 680px;
        height: 100%;
        box-sizing: border-box;
    }

    &__icon {
        &-wrapper {
            @include position(absolute, 0);
            bottom: auto;
            animation: hover 5s ease-in-out backwards infinite;
            @keyframes hover {
                0% { transform: translate3d(0, 0, 0) }
                50% { transform: translate3d(0, -30%, 0) }
                100% { transform: translate3d(0, 0, 0) }
            }

            &--invert {
                animation: hover-inverted 5s ease-in-out backwards infinite;
                @keyframes hover-inverted {
                    0% { transform: translate3d(0, 0, 0) }
                    50% { transform: translate3d(0, 30%, 0) }
                    100% { transform: translate3d(0, 0, 0) }
                }
            }
        }

        height: auto;
        opacity: 0.7;
    }

    &__content {
        @include flex(column, center, flex-start);
        flex-grow: 1;
        z-index: 1;
        align-self: flex-start;
        max-width: 460px;
        box-sizing: border-box;
        height: 100%;
        color: white;
    }

    &__title, &__text {
        text-shadow: 0 0 8px #181d25;
    }

    &__text {
        font-size: 1.2rem;
        line-height: 1.7;
    }
}