@import '../../../variables';
@import '../../../mixins';

.learn {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
    z-index: 1;
    padding-bottom: 60px;

    &__cards {
        @include flex;
        flex-wrap: wrap;
        margin: 0 -30px;
    }

    &__card {
        width: 33.3333%;

        &-title {
            margin: 20px 0 10px;
        }

        &-text {
            font-size: 1.2rem;
            line-height: 1.8;
            margin: 0;
        }
    }
}

@include media(DESKTOP) {
    .learn {
        &__card {
            width: 50%;
        }
    }
}

@include media(TABLET) {
    .learn {
        &__cards {
            flex-direction: column;
        }
        
        &__card {
            width: 100%;
            padding: 40px 30px;
        }
    }
}